

.conta{
    width: 105px;
    
}
.header{
    width: 105px;
    background-color: #1F1D2B;
    height: 100vh;
    border-radius: 8px;
}
.header__logo{
    padding: 24px;
    display: block;
}
ul{
    list-style-type: none;
}
.header__list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
    padding-left: 12px;
}
.header__item{
    padding: 12px;
    border-radius: 12px 0px 0px 12px;
    position: relative;
}
.header__list li a{
    display: block;
    text-align: center;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    color: #fff;
    padding: 18px;
    display: block;
}
.header__list li .active{
    
    box-shadow: 0 0 10px 0 #EA7C69;
    background-color: #EA7C69;
    
}
.active2{
    background-color: #252836;
}
.active2::before{
    content: url(../../../image/qirra.svg);
    right: -1.1px;
    position: absolute;
    top: -15.5px;
    transform: rotate(90deg);
}
.active2::after{
    content: url(../../../image/qirra.svg);
    right: -1.1px;
    position: absolute;
    top: 74px;
}


.header__btn{
    width: 56px;
    height: 56px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 45px;
    display: block;
}
